.header{
    display: flex;
    gap : 20px;
    justify-content: end;
    padding-right: 20px;
    font-size: larger;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hi{
    text-decoration: none;
    color: var(--Secondary);
    background-color: var(--Accent);
    border-radius: 15px;
    padding: 10px;
}
.hom{
    text-decoration: none;
    color: black;
}
/* Colour variables */
:root{
    --Primary:#24D7F0;
    --Secondary:#FFFFFE;
    --Accent:#3089BB;
}
